.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiFormControl-fullWidth {
  width: 145% !important;
}

.loader {
  /* display: none !important; */
  margin-left:  48% !important;
}

.MuiFormLabel-root {
  font-size: 3rem !important;
}

.MuiInput-underline {
  margin-top: 4rem !important;
}

.MuiButton-sizeSmall {
  margin-top: 1rem !important;
  background-color: grey !important;
  padding: 10px 15px !important;
}

.MuiButton-sizeSmall:hover {
  color: white !important;
  background-color: black !important;
}